
@{
    ViewData["Title"] = "Index";
}

<!-- main start -->
<main>
    <!-- get page done start -->
    <section id="get-page-done">
        <div class="container get-page-done">
            <h1>GET PAGE DONE</h1>
            <h4>It take efforts</h4>
            <p>Lorem ipsum dolor sit ametLorem ipsum dolor sit amet</p>
            <button>DOWNLOAD THIS THEME NOW!</button>
        </div>
    </section>
    <!-- get page end -->
    <!-- services start -->
    <section id="services">
        <div class="container services">
            <h1>OUR SERVICES: </h1>
            <div class="row services-summary">
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                        Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                </div>
            </div>
            <div class="row services-info">
                <div class="col-lg-4 services-info-item">
                    <div class="item-inner">
                        <i class="fa-solid fa-desktop"></i>
                        <h4>Sure Quique Menu</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 services-info-item">
                    <div class="item-inner">
                        <i class="fa-solid fa-flask"></i>
                        <h4>100% Free Responsive</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="col-lg-4 services-info-item">
                    <div class="item-inner">
                        <i class="fa-solid fa-credit-card"></i>
                        <h4>Clean & Customizable</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
            </div>
            <div class="row services-end-summary">
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                </p>
            </div>
        </div>
    </section>
    <!-- services end -->
    <!-- wall street start -->
    <section id="wall-street">
        <div class="container">
            <div class="row wall-street-summary">
                <div class="col-lg-6 col-md-12 wall-street-item">
                    <h1>Featured In Wall Street</h1>
                    <p>and many other magzines..</p>
                </div>
                <div class="col-lg-6 col-md-12 wall-street-item">
                    <h1>300+</h1>
                    <p>Reports</p>
                </div>
            </div>
        </div>
    </section>
    <!-- wall start end -->
    <!-- plan start -->
    <section id="plan">
        <div class="container plan">
            <h1>OUR SERVICES: </h1>
            <div class="row plan-summary">
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                        Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                </div>
            </div>
            <div class="row plan-info">
                <div class="col-lg-4 plan-info-item">
                    <div class="plan-item-inner">
                        <b><p id="basic">BASIC PLAN</p></b>
                        <ul>
                            <li><b><span>12</span> </b> Accounts</li>
                            <li><b><span>52</span></b> Emails</li>
                            <li><b><span>50 GB</span></b> Space</li>
                            <li><b><span>Free</span> </b> Support</li>
                        </ul>
                        <b><p id="price">$99 only</p></b>
                        <p id="read">Read More</p>
                    </div>
                </div>
                <div class="col-lg-4 plan-info-item">
                    <div class="plan-item-inner">
                        <b><p id="basic">POPULAR PLAN</p></b>
                        <ul>
                            <li><b><span>12</span> </b> Accounts</li>
                            <li><b><span>52</span></b> Emails</li>
                            <li><b><span>50 GB</span></b> Space</li>
                            <li><b><span>Free</span> </b> Support</li>
                        </ul>
                        <b><p id="price">$199 only</p></b>
                        <p id="read-second">Read More</p>
                    </div>
                </div>
                <div class="col-lg-4 plan-info-item">
                    <div class="plan-item-inner">
                        <b><p id="basic">VALUE PLAN</p></b>
                        <ul>
                            <li><b><span>12</span> </b> Accounts</li>
                            <li><b><span>52</span></b> Emails</li>
                            <li><b><span>50 GB</span></b> Space</li>
                            <li><b><span>Free</span> </b> Support</li>
                        </ul>
                        <b><p id="price">$299 only</p></b>
                        <p id="read-third">Read More</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- plan end -->
    <!-- wall street start -->
    <section id="peterna-info">
        <div class="container">
            <div class="row peterna-info-summary">
                <div class="col-lg-3 col-md-12 peterna-info-item">
                    <h1>5000+</h1>
                    <p>Projects</p>
                </div>
                <div class="col-lg-3 col-md-12 peterna-info-item">
                    <h1>205+</h1>
                    <p>Countries</p>
                </div>
                <div class="col-lg-3 col-md-12 peterna-info-item">
                    <h1>1300+</h1>
                    <p>Offices</p>
                </div>
                <div class="col-lg-3 col-md-12 peterna-info-item">
                    <h1>2400+</h1>
                    <p>Clients</p>
                </div>
            </div>
        </div>
    </section>
    <!-- wall start end -->
    <!-- contact start -->
    <section id="contact">
        <div class="container contact">
            <h1>CONTACT US: </h1>
            <div class="row contact-summary">
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio.
                        Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.
                    </p>
                </div>
                <div class="col-lg-6">
                    <h3>Lorem ipsum dolor sit amet</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec nisl odio. Mauris vehicula at nunc id posuere.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <form>
                        <div class="form-row">
                            <div class="email-password">
                                <div class="form-group email col-md-6">
                                    <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                                </div>
                                <div class="form-group col-md-6">

                                    <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <textarea name="message" id="" cols="30" rows="10" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Request</button>
                    </form>
                </div>
                <div class="col-lg-6">
                    <p><b>Address</b>: 123,Your locality , Counrty Name, Pin-20100090.</p>
                    <p><b>Email</b>: info@yourdomain.com</p>
                    <p><b>Web</b>: www.yourdomain.com</p>
                    <p><b>Mobile</b>: +00-909-808-707-00</p>
                </div>
            </div>
        </div>
    </section>
    <!-- contact end -->
</main>
<!-- main end -->